<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.finalproject">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WhatActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RulesOf20Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".DrinkActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".FunFact"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FFActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".FunFact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FunFact" />
        </activity>
        <activity
            android:name=".FFActivity1"
            android:screenOrientation="portrait"
            android:parentActivityName=".FunFact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FunFact" />
        </activity>
        <activity
            android:name=".FFActivity2"
            android:screenOrientation="portrait"
            android:parentActivityName=".FunFact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FunFact" />
        </activity>
        <activity
            android:name=".Vid"
            android:screenOrientation="portrait"
            android:parentActivityName=".FFActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FFActivity"/>
        </activity>
        <activity
            android:name=".Vid1"
            android:screenOrientation="portrait"
            android:parentActivityName=".FFActivity1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FFActivity1"/>
        </activity>
        <activity
            android:name=".Vid2"
            android:screenOrientation="portrait"
            android:parentActivityName=".FFActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FFActivity2"/>
        </activity>
    </application>

</manifest>